@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #003366;
    --primary-color: #1755a0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #F8F9FA;
    --secondary-color-light: rgba(132, 139, 200, 0.18);

    /* --- Cores de Notificação --- */
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;

    /* --- Sombra da Caixa --- */
    --box-shadow: 0 1.2rem 0.7rem var(--secondary-color-light);

    /* --- Animação de Transição --- */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.danger {
    color: var(--color-danger);
}

.sucess {
    color: var(--color-sucess);
}

.warning {
    color: var(--color-warning);
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}
/*----------Titulo------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulos h1 {
  font-size: 28px;
  color: #003366;
}

.titulos p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/*-------------Cards-------------*/

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    max-width: 1400px;
    width: 100%;
    align-items: start;
    margin: 15px auto 0 auto;
}

.card-import,
.card-export {
    background: white;
    border-radius: 12px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    box-shadow: var(--box-shadow);
}

.card-header{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px
}

.card-header svg{
  color: var(--color-sucess);
  flex-shrink: 0;
}

.card-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #003366;
}

.card-descricao {
  font-size: 17px;
  color: #666;
  margin-bottom: 15px;
  margin-top: 10px;
}

/*************Campo*************/

.campo{
  margin-bottom: 24px;
}

.campo label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #003366;
    margin-bottom: 25px;
}

.campo span{
  color: #003366;
}
/***********Input de Arquivo****************/

.file-input-wrapper{
  position: relative;
  margin-bottom: 12px;
}

.btn-select-file{
  width: 100%;
  background: white;
    border: 1px solid #E0E0E0;
    color: #666;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

  .btn-select-file:hover {
    border-color: #0066cc;
    background: #F8F9FA;
}

.file-name {
  color: #999;
  font-size: 13px;
}

/*************Caixas de Nota***************/
.nota-info {
    background-color: #f2f2f2;
    border-left: 4px solid #1e4b78;
    padding: 16px;
    border-radius: 8px;
    font-size: 13px;
    color: #1A1A1A;
    line-height: 1.6;
}

.alert-info {
  background-color: #f2f2f2;
  border-left: 4px solid #1e4b78;
  padding: 16px;
  border-radius: 8px;
    margin: 25px 0;
    font-size: 13px;
    color: #1A1A1A;
    line-height: 1.6;
  }

  
.alert-info strong {
    font-weight: 600;
}

  /*************Botões*****************/
  .btn-primary {
    width: 100%;
    background: linear-gradient(to right, #015cb9, #013973);
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: auto;

  }
 #mensagemImport,
#mensagemExport {
    display: none;
}

#mensagemImport.sucesso,
#mensagemImport.erro,
#mensagemExport.sucesso,
#mensagemExport.erro {
    display: block;
}